*{
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: solid rgb(246, 243, 243) 1px;
}

.header img{
    height: 100px;
    width: 300px;
    
}

.header__s1{
    border: solid black 1px;
    border-radius: 50px;
    padding: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__s1 input{
    border: none;
    width: 200px;
}

.header__s1 input:focus{
    outline: none;
}

.header__s1__srch{
    border-radius: 50px;
    border: solid black 1px;
    background-color: aqua;
    padding: 5px;
}

.header__s1__srch:hover{
    cursor: pointer;
}

.header__s2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__s2 p{
    border-radius: 50px;
    padding :10px;
}

.header__s2 p:hover{
    background-color: gray;
    cursor: pointer;
}

.header__s3{
    display: none;

}

.main__sec1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 198, 3);
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    gap: 20px;
}

.main__sec1 img{
    width: 50%;
    border-right: solid black 2px;
    padding-right: 10px;
    
}

.main__sec1__div h1{
    padding-top: 100px;
    padding-left: 50px;
    font-size: 40px;
}

.main__sec1__div{
    display: flex;
    padding: 20px;
}

.main__sec1__book{
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

.main__sec1__book:hover{
    cursor: pointer;
    /* transition: 2s;
    transform: rotateY(360deg); */
}

@keyframes bounce{
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.main__Sec1__div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dest h2, h3{
    padding: 10px;
}

.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.destinations img{
    width: 200px;
    height: 200px;
}

.destinations div{
    border-radius: 5px;
}

.hotels-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    gap: 10px;
}

.hotels-container img{
    width: 200px;
    height: 200px;
}

.hotels{
    padding: 10px;
}

.rest{
    padding: 10px;
}

.rest-container img{
    width: 200px;
    height: 200px;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.travel{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.travel img{
    /* position: absolute; */
    width: 1200px;
    height: 400px;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 10px;
    background-color: rgb(246, 243, 243);
    padding-bottom: 10px;
}

.footer1{
    display: flex;
    padding: 10px;
    gap: 30px;
    justify-content: flex-end;
}

.footer1 p{
    padding: 5px;
}

.footer2 p{
    font-size: 20px;
}

.ollie{
    position: sticky;
    bottom: 30px;
    right: 10px;
    /* z-index: 2; */
    background-color: rgb(3, 198, 3);
    border-radius: 20px;
    width: 90px;
    /* height: 30px; */
    padding: 5px;
}

.ollie:hover{
    cursor: pointer;
}

@media screen{
    body{
        font-size: 16px;
    }
}

@media screen and (max-width:600px){
    body{
        font-size: 10px;
    }
    .main__sec1, .header__s1, .header__s2{
        display: none;
    }
    .header__s3{
        display: inline;
        width: 20px;
        height: 20px;
    }
}